<div class="primer-grid">
    <div class="header">
        <div class="logo">
            <img src="../../../assets/img/logo sin letras.png" alt="Usuario">
        </div>
        <div class="nombre">
            <p>Banco BanQuito</p>
        </div>
        <div class="usuario-info">
            <p>Nombre de Usuario </p>
            <img src="../../../assets/img/Img persona.png" alt="Usuario">
        </div>
    </div>
    <div class="columna-gris">
        <div class="buttons-container">
            <h3>Registrar</h3>
            <div class="button-container">
                <div class="button" routerLink="/cuentas">Guardar</div>
                <div class="button" routerLink="/transacciónCancelada">Cancelar</div>
            </div>
        </div>
        <div class="filter-section" style="padding-bottom: 20px; margin-top: 0px;">
            <label for="nombre" class="filter-label">Tipo de cliente:</label>
            <select id="tipo-identificacion">
            </select>
            <br>
        </div>
        <tr class="datos-personales">
            <td>Datos Personales</td>
        </tr>
        <td>
            <div></div>
            <div class="filter-section">
                <label for="nombre" class="filter-label">Tipo de identificación:</label>
                <select id="tipo-identificacion">
                    <option value="conjunta:">Cedula</option>
                    <option value="pasaporte">Pasaporte</option>
                    <option value="ruc">Ruc</option>
                </select>
                <br>
                <tbody>
                    <tr>
                        <td><label for="nombre" class="filter-label">N° de Identificación:</label></td>
                        <td><input type="text" id="num-identificacion"></td>
                    </tr>
                    <tr>
                        <td><label for="nombre" class="filter-label">Apellidos:</label></td>
                        <td><input type="text" id="apellidos"> </td>
                        <td><label for="nombre" class="filter-label">Nombres:</label>
                            <input type="text" id="nombres">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="nombre" class="filter-label">Fecha de nacimiento:</label></td>
                        <td><input type="date" id="fecha"></td>
                        <td><label for="nombre" class="filter-label">Telefono:</label>
                            <input type="number" id="telefono">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="nombre" class="filter-label">Correo Electrónico:</label></td>
                        <td><input type="email" id="correo"></td>
                    </tr>
                    <tr>
                        <td><label for="nombre" class="filter-label-direc">Dirección:</label></td>
                        <td><input type="text" class="filterdirec" id="direccion"> </td>
                    </tr>
                </tbody>


                <br>


            </div>
    </div>
</div>
<footer>
    © 2023 BancoBanquito. Todos los derechos reservados.
</footer>