<div class="primer-grid">
    <div class="header">
        <div class="logo">
            <img src="../../../assets/img/logo sin letras.png" alt="Usuario">
        </div>
        <div class="nombre">
            <p>Banco BanQuito</p>
        </div>
        <div class="usuario-info">
            <p>Nombre de Usuario </p>
            <img src="../../../assets/img/Img persona.png" alt="Usuario">
        </div>
    </div>
    <div class="columna-gris">
        <div class="buttons-container">
            <h3>Agregar tipo de crédito</h3>
            <div class="button-container">
                <div class="button" routerLink="/creditos">Guardar</div>
                <div class="button" routerLink="/transacciónCancelada">Cancelar</div>
            </div>
        </div>
        <tr class="datos-personales">
            <td>Tipo de crédito</td>
        </tr>
        <td>
            <div></div>
            <div class="filter-section">
                <br>
                <tbody>
                    <tr>
                        <td><label for="nombre" class="filter-label">Tasa de interes:</label></td>
                        <td><select id="tasa interes">
                            </select> </td>
                    </tr>
                    <tr>
                        <td><label for="nombre" class="filter-label">Nombre:</label></td>
                        <td><input type="text" id="nombre"></td>
                    </tr>
                    <tr>
                        <td><label for="nombre" class="filter-label">Descripción:</label></td>
                        <td><input type="text" id="dexcripcion"> </td>

                    </tr>
                    <tr>
                        <td><label for="unidad" class="filter-label">Unidad Plazo:</label></td>
                        <td><select id="unidad-plazo">
                            </select> </td>
                    </tr>
                    <tr>
                        <td><label for="nombre" class="filter-label">Plazo mínimo (meses):</label></td>
                    <td>  <input type="number" id="Plazo mínimo"></td>
                        

                        <td><label for="nombre" class="filter-label">Plazo máximo (meses):</label></td>
                    <td>  <input type="number" id="Plazo mínimo">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="nombre" class="filter-label">Monto mínimo:</label></td>
                        <td> <input type="number" id="Plazo mínimo"></td>
               

                        <td><label for="nombre" class="filter-label">Monto máximo:</label></td>
                    <td><input type="number" id="Plazo mínimo">
                        </td>
                    </tr>
                </tbody>


                <br>


            </div>
    </div>
</div>
<footer>
    © 2023 BancoBanquito. Todos los derechos reservados.
</footer>