<div class="primer-grid">
    <div class="header">
        <div class="logo">
            <img src="../../../assets/img/logo sin letras.png" alt="Usuario">
        </div>
        <div class="nombre">
            <p>Banco BanQuito</p>
        </div>
        <div class="usuario-info">
            <p>Nombre de Usuario </p>
            <img src="../../../assets/img/Img persona.png" alt="Usuario">
        </div>
    </div>
    <div class="segundo-grid">
        <div class="columna-celeste">
            <div class="espaciado"></div>
            <div class="clientes" routerLink="/conTarjeta">
                <img src="../../assets/img/bo/cliente.png" alt="Tarjeta">
                <p>Clientes</p>
            </div>
            <div class="espaciado"></div>
            <div class="credito" routerLink="/sinTarjeta">
                <img src="../../assets/img/bo/credito.png" alt="Sin Tarjeta">
                <p>Credito</p>
            </div>
            <div class="salir" routerLink="/">
                <img src="../../assets/img/bo/cerrar-sesion.png" alt="Sin Tarjeta">
                <p>Salir</p>
            </div>
        </div>
        <div class="columna-gris">
            <h3>Gestionar Clientes</h3>
            
            <div class="button-container">
                <div class="button" routerLink="/tarjeta">Continuar</div>
                <div class="button" routerLink="/faltaTarjeta">Cancelar</div>
            </div>
        </div>

    </div>

</div>
<footer>
    © 2023 BancoBanquito. Todos los derechos reservados.
</footer>